/* ----------
    ABOUT
    PAGE
    -------------------------
    */

.about-us-container {
  margin: 6rem 0;

  min-height: 100vh;

  @media only screen and (max-width: 768px) {
    margin: 6rem 0;
  }
}

.about-us__content-container {
  flex-direction: row;

  margin-top: 2rem;

  width: 80%;
  height: auto;

  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;

    margin-top: 0;
    width: 100%;
  }
}

.about-us-container img {
  max-width: 40%;
  z-index: 1;

  @media only screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.text-container {
  padding: 4rem;

  background: var(--secondary-bg);

  line-height: 1.5rem;
}

.reverse {
  flex-direction: row-reverse;
}
